<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>打刻ページ</title>
    <style>
        form {
            display: block;
            margin-bottom: 10px;
        }
        .button-container {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <form action="/punch/in" method="post">
            <!-- CSRFトークンの追加 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" name="clockIn" value="出勤"/>
        </form>

        <form action="/punch/out" method="post">
            <!-- CSRFトークンの追加 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" name="clockOut" value="退勤"/>
        </form>
    </div>

    <form action="/logout" method="post">
        <!-- CSRFトークンの追加 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="Sign Out"/>
    </form>
    
    <form action="/calendar" method="get">
        <!-- CSRFトークンの追加 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="勤怠"/>
    </form>
</body>
</html>
